.trip-post {
    display: flex;
    align-items: center;
    padding: 60px 50px;
    margin: 0 30px;
    border-bottom: 1px solid #F5F5F5;
}

.trip-post img {
    width: 125px;
    height: 168px;
}

.trip-post-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}